* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

.header {
  grid-area: header;
  background-image: url(footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(133, 89, 89);
  padding: 20px;
  height: 250px;
  place-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #7a661870;
  color: rgb(12, 36, 6);
  padding: 20px;
  position: relative;
}

.content {
  grid-area: content;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background-color: #01080db2;
  color: white;
  font-size: small;
  padding: 5px 15px;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;

  /*selector untuk tautan yang belum diklik*/
  a {
    color: rgb(87, 93, 5); /* mengubah warna teks menjadi biru */
    text-decoration: none; /* menghapus garis bawah pada teks */
  }
  /* selector untuk tautan yang sudah diklik*/
  a:visited {
    color: rgb(141, 71, 71); /* mengubah warna teks menjadi kuning */
  }
  /* selector untuk tautan saat dihover (ketika kursor berada di atasnya) */
  a:hover {
    color: rgb(255, 0, 0); /* mengubah warna taks menjadi merah */
    text-decoration: none; /* menghapus garis bawah pada dihover */
  }

  /* selector untuk tautan saat dihover (ketika kursor berada di atasnya) */
  a:active {
    color: green; /* mengubah warna taks menjadi hijau */
  }
}

.sidebar ul li {
  margin: 25px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #304c0d;
  font-size: 20px;
}
